<div class="modal gamemodal">
  <div class="modal-content center">
    <h2 id="evaluate"></h2>
    <h6 id="correct-answer"></h6>
    <%= svg 'icons/right_arrow' %>
  </div>
</div>

<div class="modal alertmodal">
  <div class="modal-content center">
    <h2 id="error"></h2>
  </div>
</div>
