<div id="scoremeter" style="width: 50%; margin: 0 auto;">
    <span style="width:70%;"><span id="inner-span"></span></span>
    <!-- Add class of progress to #inner-span to trigger animation -->
</div>