<div id="scoremeter" style="width: 80%; margin: 0 auto;">
    <span id="static-span"><span id="animate-span"></span></span>
    <!-- Add class of progress to #inner-span to trigger animation -->
</div>