<div class="four columns">
  <div class="card">
    <%=image_tag("characters/#{object.img}", :style => "width: 100%;") %>
    <div class="card_container">
      <h4><%= object.name %></h4>
      <p><%= object.title %></p>
    </div>
  </div>
</div>
