<div class="four columns">
  <div class="card">
    <%=image_tag("characters/#{object.img}") %>
    <div class="card-container">
      <h3><%= object.name %></h3>
      <p><%= object.title %></p>
    </div>
  </div>
</div>
