// Character Select Page

#character-screen {
  #difficulty {
    margin-bottom: 1%;
    button {
      width: 30%;
      padding: 10px 0;
      margin: 1%;
      border: 4px solid rgba(255,255,255,.0);
      transition: all .2s ease-in-out;
      transform: scale(1);
      @media (max-width: 550px) {
        padding: 1px 0;
        border-radius: 5px;
        border: 2px solid rgba(255,255,255,.0);
      }
    }
    button.active {
      transform: scale(1.1);
      border: 4px solid rgba(255,255,255,.9);
      @media (max-width: 550px) {
        border: 2px solid rgba(255,255,255,.9);
      }
    }
  }

  #create-game button {
    margin: 0 auto 2%;
    width: 99.5%;
    padding: 50px 0;
    @media (max-width: 550px) {
      padding: 15px 0;
      margin: 1% auto 1%;
    }
	}
}
