// Character Select Page

#character-screen {
  h1 {
    font-family: $tertiary-font-family;
    font-weight: normal;
    margin: 2% 0 -4% 0;
	}

  button {
    display: block;
    margin: 5% auto;
    width: 100%;

    @media (min-width: 550px) {
      padding: 50px 0;
    }
	}
}
