#game-screen {
  margin-top: 5%;
  #game-quotes {
    p {
      font-size: 3.5rem;
      @media (max-width: 1200px) {
        font-size: 3rem;
      }
      @media (max-width: 1000px) {
        font-size: 2.5rem;
      }
      @media (max-width: 750px) {
        font-size: 2rem
      }
    }
  }
}
