#welcome-screen {
  display: flex;
  height: 90vh;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  button {
    margin: 20px 0;
  }
  #games-played {
    margin: 20px 0;
  }
}
