html {
  font-size: $base-font-size;
}

body {
  background: $background-gradient;
  background-attachment: fixed;
  color: $primary-font-color;
}

// .hide {
//   display: none;
// }

.center {
	text-align: center;
}


