@font-face {
  font-family: 'Milkshake';
  src:font-url('Milkshake.otf');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: $secondary-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-family;
  margin: 0;
}

h1 { font-size: 8.0rem; letter-spacing: -.1rem; line-height: 1.3; }
h2 { font-size: 4.4rem; letter-spacing: -.1rem; line-height: 1.3; }
h3 { font-size: 4.0rem; letter-spacing: -.1rem; line-height: 1.3; }
h4 { font-size: 3.6rem; letter-spacing: -.08rem; line-height: 1.35; }
h5 { font-size: 3.2rem; letter-spacing: -.05rem; line-height: 1.3; }
h6 { font-size: 2.8rem; letter-spacing: 0; line-height: 1.3; }
#difficulty button  { font-size: 4.0rem; letter-spacing: 0; line-height: 1.3;}

// Smaller than Desktop
@media (max-width: 1200px) {
  h1 { font-size: 7.0rem; }
  h2 { font-size: 3.8rem; }
  h3 { font-size: 3.4rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.6rem; }
  h6 { font-size: 2.2rem; }
  #difficulty button  { font-size: 3.4rem; }
}

/* Smaller than tablet */
@media (max-width: 750px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.2rem; }
  h4 { font-size: 2.8rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 2.0rem; }
  #difficulty button { font-size: 2.4rem; }
}

/* Smaller than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.6rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 1.8rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.1rem; }
  #difficulty button  { font-size: 1.4rem; }
}
