// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Pacifico', cursive;

// Font Sizes
$base-font-size: 46px;
$base-font-color: #fff;
$secondary-font-color: #5987b6;
$tertiary-font-color: #fd874b;

// Background Colors
$gradient-left: #a73737;
$gradient-right: #7a2828;
$background-gradient: linear-gradient(to right, $gradient-left 0%, $gradient-right 100%);
