// Typography
$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Shanti', sans-serif;

// Font Sizes
$base-font-size: 16px;

// Font Color
$primary-font-color: #fff;
$secondary-font-color: #5987b6;
$tertiary-font-color: #fd874b;

// Background Colors
$gradient-one: #874da2;
$gradient-two: #c43a30;
$background-gradient: linear-gradient(45deg, $gradient-one 0%, $gradient-two 100%);

