<div id="welcome">
  <%= inline_svg "who_said_it.svg" %>
	<h4 id="subtitle">The Game of Deciding Who Said What</h3>
	<button id="play-game">Play Game</button>
</div>

<div id="character-select" class="hide">
	<form id="option" action="/whatever" method="post">
	  <div class="row">
	     <h1 class="cs-title">Character Selection</h1>
	  </div>
	  <% @characters.each_slice(4) do |slice| %>
		  <div class="row">
		    <% slice.each do |object| %>
		      <%= render partial: "card", locals: { object: object } %>
		    <% end %>
		  </div>
		<% end %>
	  <button type="submit" class="button-primary">Play!</button>
	</form>
</div>

