<div id="character-screen" class="hide">
	<%= form_tag(create_game_path, method: 'post', id: 'create-game') do %>
		<h1 class="center">Select Two Characters</h1>
	  <% @characters.each_slice(4) do |slice| %>
		  <div class="row">
		    <% slice.each do |character| %>
		      <%= render partial: 'components/flipcard', locals: { object: character } %>
		    <% end %>
		  </div>
		<% end %>
	  <button type="submit">Start Game</button>
	<% end %>
</div>
