<div class="container">
	<div id="character-screen">
		<%= form_tag(create_game_path, method: 'post', id: 'create-game') do %>
		  <div class="row">
		     <h1 class="center">Character Selection</h1>
		  </div>
		  <% @characters.each_slice(4) do |slice| %>
			  <div class="row">
			    <% slice.each do |character| %>
			      <%= render partial: 'components/card', locals: { object: character } %>
			    <% end %>
			  </div>
			<% end %>
		  <button type="submit">Start Game</button>
		<% end %>
	</div>
</div>
