<div id="game">
	<div id="game-quotes"></div>
	<div id="game-pictures"></div>	
</div>

<script id="game-picture-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="six columns game-character center">
      <img id="selected-character-{{@index}}"><br>
      <button class="game-character-submit" data-id="{{id}}" data-name="{{name}}">{{name}}</button>
    </div>
  {{/each}}
</script>

<script id="game-quote-template" type="text/x-handlebars-template">
  <div>
    <h3>"{{content}}"</h3>
  </div>
</script>
