<div id="game-screen">
  <div class="row">
  	<%= svg 'logos/who_said_it_logo' %>
  </div>
  <div>
  	<div class="six columns">
  		<%=image_tag("characters/mr_burns") %>
  	</div>
  	<div class="six columns">
  		<%=image_tag("characters/mr_burns") %>
  	</div>
  </div>
  <div class="row">
  	<h2>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni" - Donald Trump</h2>
  </div>
</div>