<div id="welcome-screen" class="outer">
  <div class="middle">
    <div class="inner center">
		  <%= svg 'logos/who_said_it_title' %>
			<h2 id="subtitle">The Game of Deciding Who Said What</h3>
			<button id="play">Play Game</button>
		</div>
  </div>
</div>