.flipcard {
  cursor: pointer;
  float: left;
  margin: 60px 1%;
  padding-bottom: 25%;
  position: relative;
  width: 23%;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  .flipcard-front,
  .flipcard-back {
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s;
    width: 100%;
    img {
      border: 3px solid rgba(228,167,190,0.5);
      border-bottom: 0;
      border-radius: 10px 10px 0 0;
      width: 100%;
    }
    .flipcard-container {
      background-color: $secondary-color;
      border: 3px solid rgba(228,167,190,0.2);
      border-radius: 0 0 10px 10px;
      border-top: 0;
      box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
      margin-top: -4px;
      padding-top: 10px;
      text-shadow: 1px 1px $primary-black;
      width: 100%;
      word-spacing: 100vw;
    }
  }

  .flipcard-back {
    transform: rotateY(-180deg);
  }
}

// Transform on Selected

.flipcard.selected .flipcard-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flipcard.selected .flipcard-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

// Change Border Color on Selected

.flipcard.selected img {
  border: 3px solid rgba(255,255,255,.9);
  border-bottom: 0px;
}

.flipcard.selected .flipcard-container {
  border: 3px solid rgba(255,255,255,.9);
  border-top: 0px;
}
