#scoremeter { 
    height: 40px;
    border-radius: 5px;
    position: relative;
    background: $secondary-color;
    overflow: hidden;
}

#scoremeter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: $quaternary-color;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}