#scoremeter { 
  height: 40px;
  border-radius: 5px;
  position: relative;
  background: $secondary-color;
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
}

#scoremeter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: $quaternary-color;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode:both;
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}