@keyframes whosaidit {
	100% {
		stroke-dashoffset: 0;
	}
}

#clip_w1 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:24;
  animation: whosaidit 1s linear forwards;
}

#clip_w2 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:17;
  animation: whosaidit 1s linear forwards .4s;
}

#clip_ho1 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:13;
  animation: whosaidit 1s linear forwards .7s;
}

#clip_ho2 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:15;
  animation: whosaidit 1s linear forwards 1s;
}

#clip_s {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:18;
  animation: whosaidit 1s linear forwards 1.5s;
}

#clip_aid1 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:15;
  animation: whosaidit 1s linear forwards 2s;
}

#clip_aid2 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:15;
  animation: whosaidit 1s linear forwards 2.2s;
}

#clip_aid3 {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:19;
  animation: whosaidit 1s linear forwards 2.4s;
}

#clip_aid4 {
	stroke: #fff;
	stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:16;
  animation: whosaidit 1s linear forwards 2.6s;
}

#clip_dot {
	stroke: #fff;
	stroke-dasharray: 300;
  stroke-dashoffset: 300;
  stroke-width:16;
  animation: whosaidit 1s linear forwards 3.2s;
}

#clip_i {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:15;
  animation: whosaidit 1s linear forwards 3.6s;
}

#clip_t {
	stroke: #fff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width:24;
  animation: whosaidit 1.4s linear forwards 4.2s;
}

@keyframes question {
  0% {
		transform-origin: 50% 50%;
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#question {
	fill: #fff;
	transform: scale(0.0);
	animation: question .5s ease-out forwards 4.5s;
}
