<script id="game-picture-template" type="text/x-handlebars-template">
  {{#each this}}
		<div class="six columns game-character">
			<div class="gamecard" data-id="{{id}}" data-name="{{name}}">
			  <img id="selected-character-{{@index}}">
			  <div class="gamecard-container center">
			    <h4>{{name}}</h4>
			  </div>
			</div>
		</div>
	{{/each}}
</script>

<script id="game-quote-template" type="text/x-handlebars-template">
   <p>"{{content}}"</p>
</script>
