<script id="game-picture-template" type="text/x-handlebars-template">
  {{#each this}}
		<div class="six columns game-character">
			<div class="gamecard game-character-submit" data-id="{{id}}" data-name="{{name}}">
			  <img id="selected-character-{{@index}}" data-id="{{id}}" data-name="{{name}}">
			  <div class="gamecard-container center" data-id="{{id}}" data-name="{{name}}">
			    <h4 data-id="{{id}}" data-name="{{name}}">{{name}}</h4> 
			  </div>
			</div>
		</div>
	{{/each}}
</script>

<script id="game-quote-template" type="text/x-handlebars-template">
   <p>"{{content}}"</p>
</script>
